<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Full Life Ministry">
	<title>Medios | Full Life Ministry</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
	<link
			 href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			 rel='stylesheet' type='text/css'/>
	<link
			 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			 rel="stylesheet">
	<link
			 href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
			 rel='stylesheet' type='text/css'>
	<link
			 href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'
			 rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdn.plyr.io/2.0.13/plyr.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div class="container">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
				        data-toggle="collapse" data-target="#navbar"
				        aria-expanded="false"
				        aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{#				<a class="navbar-brand" href="#">#}
				{#					<img class="logo img img-responsive" src="{{ url_for('static', filename='logo.png') }}">#}
				{#				</a>#}
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"
						   role="button" aria-haspopup="true" aria-expanded="false">Discipulado
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a
									 href="{{ url_for('home', category="discipulado", author="Pastor Pedro Villegas") }}">Pastor
								Pedro Villegas</a></li>
							<li><a
									 href="{{ url_for('home', category="discipulado", author="Pastor Frank Lopez") }}">Pastor
								Frank Lopez</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</nav>
</div>
<section>
	<div class="container">
		{% for entry in media %}
			<div class="media-box col-md-3">
				{% if entry.type == 'audio' %}
					<div class="audio-box">
						<img class="img img-responsive" src="{{ entry.poster_url }}"
						     style="margin-top: 15px"/>
						<audio>
							<source src="{{ entry.url }}" type="audio/mp3"/>
						</audio>
						<h4>{{ entry.title }}</h4>
						<h5>{{ entry.author }}</h5>
						<h5>{{ entry.date }}</h5>
					</div>
				{% elif entry.type == 'video' %}
					<video
							 {% if entry.poster_url %}poster="{{ entry.poster_url }}"{% endif %}
							 controls>
						<source src="{{ entry.url }}" type="video/mp4">
					</video>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</section>

<script
		 src="https://code.jquery.com/jquery-3.2.1.min.js"
		 integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		 crossorigin="anonymous"></script>
<script
		 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.plyr.io/2.0.13/plyr.js"></script>
<script>plyr.setup();</script>
</body>
</html>
