<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Presentation | Full Life Ministry</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
	<meta
			 content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
			 name="viewport">
	<link rel="stylesheet"
	      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet"
	      href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/AdminLTE.min.css">
	<link rel="stylesheet"
	      href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/skins/skin-black.css">
	<link rel="stylesheet"
	      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		.content-wrapper {
			text-align: center;
			background: black;
			font-family: sans-serif;
			font-weight: 100;
			color: white;
			padding-top: 10%;
			height: 100%;
		}

		#clockdiv {
			font-size: 200px;
		}

		#title {
			font-size: 90px;
		}
		#current-time {
			font-size: 50px;
		}
	</style>
</head>
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">

	<header class="main-header">
		<!-- Logo -->
		<a href="/" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><b>P</b>C</span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><b>Presentation</b>Center</span>
		</a>
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
			</a>
		</nav>
	</header>

	<aside class="main-sidebar">
		<section class="sidebar">
			<ul class="sidebar-menu">
				{% for timer in timers %}
					<li>
						<a onclick="startTimer('{{ timer.title.title() }}', '{{ timer.hours }}', '{{ timer.minutes }}', '{{ timer.seconds }}')">
							<i class="fa fa-{{ timer.get('icon', 'clock-o') }}"></i>
							<span>{{ timer.title.title() }}</span>
							<span class="pull-right-container">
							<small class="label pull-right bg-green">{{ timer.minutes }} Minutes</small>
            </span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>
	</aside>

	<div class="content-wrapper">
		<section class="content">
			<div class="main">
				<div id="title">Welcome</div>
				<div id="clockdiv">
					<span class="hours">00</span>:<span class="minutes">00</span>:<span
						 class="seconds">00</span>
				</div>
				<div id="current-time"></div>
			</div>
		</section>
	</div>
</div>


<script
		 src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
		 src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/app.min.js"></script>
<script
		 src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script>
    setInterval(function () {
        var currentTime = document.getElementById('current-time');
        currentTime.innerHTML = moment().format('h:mm:ss');
    }, 1000);
    var timeinterval = null;

    function getTimeRemaining(time) {
        var t = Date.parse(time) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        return {
            'total': t,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }

    function getExtraTime(time) {
        console.log(time);
        var data = {};
        data.hours = time.hours;
        data.minutes = time.minutes;
        data.seconds = time.seconds + 1;
        if (data.seconds === 61) {
            data.minutes += 1;
            data.seconds = 0;
        }
        if (data.minutes === 61) {
            data.hours += 1;
            data.minutes = 0;
        }
        return data;
    }

    function initializeClock(id, title, time) {
        var clock = document.getElementById(id);
        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        var secondsSpan = clock.querySelector('.seconds');
        var titleSpan = document.getElementById('title');
        var background = document.getElementsByClassName("content-wrapper")[0];
        titleSpan.innerHTML = title;

        var done = false;
        var t = {hours: 0, minutes: 0, seconds: 0};

        function updateClock() {
            if (done) {
                t = getExtraTime(t)
            } else {
                t = getTimeRemaining(time);
            }
            hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

            if (t.minutes < 5 && t.hours === 0 && !done) {
                background.style.backgroundColor = '#C4C442';
            }

            if (t.minutes === 0 && t.hours === 0 && t.seconds === 0) {
                done = true;
                background.style.backgroundColor = '#c4434f';
                if (title === 'Starting') {
                    startTimer("Worship", 0, 30);
                }
                if (title === 'Preach') {
                    startTimer("Ministering", 0, 8);
                }
            }

            if (t.minutes > 5) {
                background.style.backgroundColor = 'black';
            }
        }

        updateClock();
        timeinterval = setInterval(updateClock, 1000);
    }

    function startTimer(title, hours, minutes, seconds) {
        clearInterval(timeinterval);
        var deadline = moment().add(hours, 'hours').add(minutes, 'minutes').add(seconds, 'seconds');
        initializeClock('clockdiv', title, deadline);
    }

</script>
</body>
</html>
